<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %> <% if
(errors && errors.length) { %> <% errors.forEach((err) => { %>
<div class="alert alert-danger"><%= err %></div>
<% }) %> <% } %> <% if (info && info.length) { %> <% info.forEach((msg) => { %>
<div class="alert alert-success"><%= msg %></div>
<% }) %> <% } %>

<p>The secret word is: <%= secretWord %></p>
<p>Would you like to change it?</p>
<form method="POST">
  <label for="secretWord">New Secret Word:</label>
  <input type="text" name="secretWord" /><br />
  <button type="submit">Submit</button>
</form>

<%- include("partials/footer.ejs") %>
